/* General Styles for secondary pages like admin.html */
:root {
    --primary-color: #5f7285;   
    --card-bg: #ffffff;        
    --text-color: #34495e;     
    --background-light: #f8f9fa; 
    --background-dark: #e9ecef;  
    --shadow-color: rgba(0, 0, 0, 0.08);
}

body {
    font-family: 'Vazirmatn', sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, var(--background-dark) 0%, var(--background-light) 100%);
    color: var(--text-color);
    direction: rtl;
}

.admin-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    text-align: center;
}

.form-group { 
    margin-bottom: 1.5rem; 
}

.form-group label { 
    display: block; 
    margin-bottom: 0.5rem; 
    font-weight: 700; 
}

.form-group input, .form-group textarea { 
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}
